/* Common text alignment CSS */
#upper_line,
#lower_line,
.form-content,
.form-label,
.form_details input,select,
.register_footer
{
    text-align: center;
}

/* Common border radius */
.form-content,
.form_details input, select,
.register_footer button,
.register_footer button:hover
{
    border-radius: 12px;
}

/* Sign Up Title CSS */
.signup_header {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 2%;
}

/* First Line Sign Up */
#upper_line {
    width: auto;
    position: relative;
    color: var(--teal);
    font-size: 15px;
}

/* Second Line Sign Up */
#lower_line {
    width: auto;
    position: relative;
    color: var(--teal);
    font-size: 15px;
}

/* Sign Up Form Container */
.signup_form {
    display: flex;
}

/* Side Pictures CSS */
.left_side_picture, .right_side_picture {
    padding-top: 5%;
    padding-left: 3%;
    width: 25%;
}

/* Form layout */
.form-layout {
    position: relative;
    width: 50%;
}

/* Form Content Layout */
.form-content{
    font-size: larger;
    margin-bottom: 2%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    border: solid;
    color: var(--teal);  
    background-color: var(--navy);
}

.form_details {
    height: auto;
    margin: 0 auto;
    padding-bottom: 1.5%;
}

.form_error {
    margin-left: 50%;
    text-align:left;
    font-size: medium;
}

/* Form text */
.form-label {
    width: 250px;
}

/* Form Input Type CSS */
.form_details input[type=text],input[type=password],input[type=email],input[type=date],select {
    margin-left: 25px;
    width: 40%;
    height: 40px;
    font-size: medium;
}

/* Input Hover */
.form_details input:hover, select:hover, .checkbox_container label:hover {
    background-color:var(--darkblue) ;
    color:  var(--teal);
}

/* Checkbox CSS */
.checkbox_container {
    padding-left: 8%;
}

/* Checkbox input type checkbox */
.checkbox_container input[type=checkbox] {
    transform: scale(1.5);
}

/* Checkbox Label */
.checkbox_container label {
    padding-left: 1%;
    color: var(--teal);
}

/* Form Footer */
.register_footer {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    width: 50%;
}

/* Register footer Proceed button */
.register_footer button {
    background-color: var(--teal);
    color: var(--darkblue);
    border-color: var(--darknavy);
    font-size: 20px;
    width: 150px;
    height: 40px;
}

/* Proceed Button Hover */
.register_footer button:hover{
    background-color:var(--navy);
    color:  var(--teal);
}

/* Register Footer Login Instead CSS */
.register_footer a {
    padding-left: 2%;
    font-size: medium;   
    color: var(--teal);
}