.signup_header {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 2%;
}

#upper_line {
    width: auto;
    position: relative;
    text-align: center;
}

#lower_line {
    width: auto;
    position: relative;
    text-align: center;
}

.signup_form {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    padding-left: 2%;
    border: solid;
    color: black;  
    border-radius: 12px;
}

.form_details {
    height: auto;
    margin: 0 auto;
}

.form-label {
    width: 250px;
    text-align: center;
}

.form_details input[type=text],input[type=password],input[type=email],input[type=date],select {
    margin-left: 25px;
    width: 40%;
    height: 40px;
    margin-bottom: 1.5%;
}

.checkbox {
    color: #cdaada;
    padding-left: 35px;
}

.checkbox label {
    padding-left: 1%;
    color: black;
}

.register_footer {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: auto;
    text-align: center;
}

.register_footer button {
    background-color: #EFE18A;
    border-color: black;
    border-radius: 12px;
}

.register_footer a {
 padding-left: 2%;
 font-size: medium;   
 color: black;
}