
/* Common padding top */
.card-img-top,.card-columns {
    padding-top: 2%;
}

.card-columns {
    padding-left: 2%;
    padding-right: 2%;
}

.light-color {
    border-color: var(--teal);
    background-color: var(--navy);
    color: var(--teal);
}

.dark-color {
    border-color: var(--teal);
    background-color: var(--darknavy);
    color: var(--teal);
}


.card-title {
    text-align: center;
    font-size: 25px;
}

.card-text{
    padding-left: 3%;
    font-size: 20px;
}

.card:hover {
    border-color: var(--teal);
    background-color:  var(--teal);
    color: var(--navy);
}