.card-columns {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.light-color {
    border-color: #D4ECDD;
    background-color: #345B63;
    color: #D4ECDD;
}

.dark-color {
    border-color: #D4ECDD;
    background-color: #152D35;
    color: #D4ECDD;
}
.card-img-top {
    padding-top: 2%;
}

.card-title {
    text-align: center;
    font-size: 25px;
}

.card-text{
    padding-left: 3%;
    font-size: 20px;
}