body,footer {
  font-family: Georgia, serif;
  font-size: 20px;
}

input {
  width: 250px;
  height: 40px;
}

.main-content {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #D4B543; 
}

footer {
  background-color: #D19D2E ;
  text-align: center;
  position: relative;
  width: 100%;
}

select {
  width: 210px;
  height: 30px;
}

select:hover {
  background-color: #EFE18A;
}
input:hover {
  background-color: #EFE18A;
}

.navbar {
  background-color: #B09F54;
  padding-right: 1%;
}

.navbar-brand {
  float: left;
  margin-left: 2%;
}

.navbar-brand span {
  color: #4B4A47; 
  margin-left:10px;
  font-size: 25px;
}

.navigation-container {
  float: right;
}
.navbar-item {
  margin-top: 2%;
  list-style-type: none;
  overflow: hidden;
}

.navbar-item li {
  float: left;
}

.navbar-item li a {
  display: block;
  color: #4B4A47;
  text-align: center;
  text-decoration: none;
}

.navbar-item li a:hover {
  background-color: #EFE18A ;
  color: black;
  border-radius: 8px;
}

.navbar-item li a.active {
  background-color: white;
  color: black;
  border-radius: 8px;
}

footer a {
  color: black;
}