/* CSS Variable */
:root {
  --teal: #D4ECDD;
  --darkblue: #112031;
  --darknavy: #152D35;
  --navy: #345B63;
}

/* Common font-family and font-size CSS  */
body,footer {
  font-family: Georgia, serif;
  font-size: 20px;
}

/* Common text-align CSS */
.navbar-item li a,
.footer_logo-container,
footer {
  text-align: center;
}

/* Main Content CSS */
.main-content {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--darkblue); 
}

/* Navigation CSS */
.navbar {
  background-color: var(--navy);
  padding-right: 1%;
}

.navbar-brand {
  float: left;
  margin-left: 2%;
}

.navbar-brand span {
  color: var(--teal); 
  margin-left:10px;
  font-size: 25px;
}

.navigation-container {
  float: right;
}
.navbar-item {
  margin-top: 2%;
  list-style-type: none;
  overflow: hidden;
}

.navbar-item li {
  float: left;
}

.navbar-item li a {
  display: block;
  color: var(--teal);
  text-decoration: none;
}

.navbar-item li a{
  border-radius: 8px;
}

.navbar-item li a:hover {
  background-color: var(--darknavy) ;
  color: var(--teal);
}

.navbar-item li a#active {
  background-color: var(--teal);
  color: var(--darkblue);
}

footer {
  background-color: var(--navy) ;
  position: relative;
  width: 100%;
}

.footer-content {
  background-color: rgba(0, 0, 0, 0.2); 
  color: var(--teal);
}

.footer_logo-container {
  padding: 1%;
  color: var(--teal);
}
