body,footer {
  font-family: Georgia, serif;
  font-size: 20px;
  background-color: #171523;
}

.logo {
    width: 130px;
    height: 130px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 5px;
    display: block;
  }
  
.footer_Container {
  color: #cdaada;
  text-decoration: none;
  position: absolute;
  bottom: 4%;
  right: 4%;
  font-size: 18px;
  background-color: transparent;
}

input {
  width: 250px;
  height: 40px;
}

select {
  width: 210px;
  height: 30px;
}

select:hover {
  background-color: #cdaada;
}
input:hover {
  background-color: #cdaada;
}
