.main-content{
    display: flex;
    padding-bottom: 2%;
}

.introduction {
    text-align: center;
    background-color: #D4B543; 

}
.introduction #intro_header {
    padding-top: 2%;
}

.introduction #intro_content {
    margin-top: 15px;
    padding: 2px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 12px;
    border: solid;
    color: black;
    background-color: white; 
}   

.playgame {
    width: 50%;
    height: 50%;
    padding-bottom: 3%;
}

.carousel-container {
    width: 50%;
    height: 50%;
}

.carousel-container img {
    margin-top: 5%;
    margin-left: 5%;
}
.playgame_header {
    padding-top: 10%;
    padding-left: 15%;
}

.options {
    padding-top: 3%;
    font-family: Georgia, serif;
    font-size: 25px;
}

.options input {
    width: 50px;
    height: 20px;
    margin-left: 35%;
}


.playgame_btn {
    margin-top: 8%;
    text-align: center;
}

.playgame_option {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 20px;
}

.playgame_option a {
    color: black;
}

.playgame_footer {
    text-align: center;
    padding-top: 2%;
}

.playgame_footer button {
    background-color: #EFE18A;
    border-color: black;
    border-radius: 12px;
    width: 220px;
    height: 60px;
    font-size: 35px;
}

.card {
    border: solid;
    border-color: black;
    margin-left: 5px;
}

.card-deck {
    background-color: #EFE18A; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card-body {
    background-color: #EFE18A;
    border: solid;
    border-color: black;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.card-footer {
    text-align: center;

}

.card-footer button {
    background-color: #EFE18A;
    border-color: black;
    border-radius: 12px;
} 