.playgame, .introduction, .card-deck {
    background-color: #112031;
    color: #D4ECDD;
}

.main-content{
    display: flex;
    padding-bottom: 2%;
}

.introduction {
    text-align: center;
}

.introduction #intro_header {
    padding-top: 2%;
}

.introduction #intro_content {
    margin-top: 15px;
    padding: 5px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 12px;
    border: solid;
    border-color: #D4ECDD;
    background-color: #345B63;
}   

.playgame {
    width: 50%;
    height: 50%;
    padding-bottom: 3%;
}

.carousel-container {
    padding-right: 5%;
    width: auto;
    height: auto;
    padding-top: 2%;
}

.playgame_header {
    padding-top: 10%;
    padding-left: 15%;
    color: #D4ECDD;
}

.options {
    padding-top: 3%;
    font-family: Georgia, serif;
    font-size: 25px;
    color: #D4ECDD;
}

.options input {
    width: 50px;
    height: 20px;
    margin-left: 35%;
}

.playgame_option {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 20px;
}

.playgame_footer {
    text-align: center;
    padding-top: 2%;
}

.playgame_footer button {
    background-color: #D4ECDD;
    color: #112031;
    border-color: #152D35;
    border-radius: 12px;
    width: 220px;
    height: 60px;
    font-size: 35px;
}

.playgame_footer button:hover, .card-footer button:hover {
    background-color:#345B63  ;
    color:  #D4ECDD;
    border-radius: 12px;
}

.card-deck {
    padding-left: 5%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 0px;
}

.card-body, .card {
    background-color: #345B63;
    color:#D4ECDD;
}

.card {
    border: solid;
    border-color: #D4ECDD;
    border-radius: 12px;
    background-color: #345B63;
}

.card-body {
    margin-bottom: 5%;
}

.card-title, .card-body {
    text-align: center;
}

.card-footer {
    text-align: center;
}

.card-footer button {
    background-color: #D4ECDD;
    color: #112031;
    border-color: #152D35;
    border-radius: 12px;
    font-size: 20px;
    width: 150px;
    height: 40px;
} 

