.rankboard_header {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 3%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color: #D4ECDD;
}

.rankboard_table {
    text-align: center;
    padding-top: 3% ;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    color: #D4ECDD;
    
}
.rankboard_table table {
    background-color: #345B63;
    border-radius: 12px;
}