/* Common display none */
.game-window,
.options,
.menu, .score ,
.countdown_class,
.game_over,
.timerAttack_sec,
#notLoggedIn, 
#oldHighScore, #newHighScore,
#beginnerRules, #normalRules, #time_AttackRules {
    display: none;
}

/* Function text-align center */
.main-content,
#notLoggedIn,
.menu, .score,
.counter_body {
    text-align: center;
}

/* Common border color var(--teal) */
.game-window,
.game_over .body {
    border-color: var(--teal)
}

/* Common display flex */
.Game, 
.game_over .content,
.game_over .buttons,
#notLoggedIn .loginRequired_btn {
    display: flex;
}

/* Common solid border */
.game-window,
.counter_body,
.game_over .body,
.login_Required {
    border: solid;
    border-radius: 12px;
}

/* Common var(--teal) color */
.game-window,
.options,
.menu, .score,
.counter_body,
.game_over .title, 
.Message, 
#GameOverScore,
.timerAttack_sec,
.login_Required {
    color: var(--teal);  
}

/* Main content css */
.main-content{
    display: block;
    padding-top: 2%;
    padding-bottom: 5%;
}

/* overall button css */
button {
    background-color: var(--teal);
    color: var(--darkblue);
    border-color: var(--darknavy);
    width: 220px;
    height: 60px;
    font-size: 35px;
    border-radius: 12px;
}
/* hover button css */
button:hover {
    background-color: var(--navy);
    color:  var(--teal);
}

/* Not Logged-in Window CSS */
#notLoggedIn {
    color: rgb(253, 210, 191);
    font-size: xx-large;
    padding-top: 1.5%;
}
/* Not loggedin button css */
#notLoggedIn .button {
    margin-top: 5%;
    padding-left: 20%;
}

.login_Required {
    padding-top: 3%;
    width: 50%;
}

.loginRequired_btn {
    padding-top: 2%;
    margin-left: 22%;
}

/* Sign in button css */
.button #signin_btn  {
    left: 0;
    padding-left: 10%;
    padding-right: 18%;
    margin-right: 2%;
}

/* window game css */
.game-window{
    border-radius: 5px;
    width: 100vh;
    height: 50vh;
}

/* level css */
.options {
    text-align: left;
    padding-top: 3%;
    font-family: Georgia, serif;
    font-size: 25px;
    margin-left: 95vh;
}

/* Level Button CSS */
.options input {
    width: 50px;
    height: 20px;
}

/* options button css */
.options button {
    margin-top: 2%;
}

/* common menu and score css */
.menu, .score {
    width: 25%;
    padding-top: 4.5%;
    font-size: 30px;
}

/* menu button css */
.menu button {
    margin-top: 2%;
    font-size: x-large;
}

/* counter body CSS */
.counter_body{
    font-size: 45px;
    background-color: var(--navy); 
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5%;
    width: 50%;
    height: 250px;
    border-radius: 12px;
}

/* Common side pictures CSS */
.left_side_picture, .right_side_picture {
    padding-top: 5%;
    width: 25%;
    
}
.left_side_picture {
    padding-left: 3%;
}
.right_side_picture {
    padding-right: 3%;
}

/* title for game over css */
.game_over .title {
    font-size: 45px;
}
/* game over title, message and score css */
.game_over .title, .Message, #GameOverScore {
    position: relative;
    width: auto;
    height: auto;
}
/* game over CSS */
.game_over .Message, #GameOverScore {
    font-size: 35px;
}
/* game body CSS */
.game_over .body {
    background-color: var(--navy); 
    border-radius: 12px;
    width: 50%;
    margin-top: 2%;
    padding-top: 1.5%;
}

/* game over button class css */
.game_over .buttons {
    padding-left: 5%;
    padding-right: 5%;
}
/* game over button css */
.game_over button {
    margin: 2%;
    font-size: 30px;
}

/* rules messages css */
#beginnerRules, #normalRules, #time_AttackRules{
    font-size: 15px;
}