.main-content{
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

#notLoggedIn  {
    text-align: center;
    color: rgb(253, 210, 191);
    font-size: xx-large;
    display: none;
}

#notLoggedIn .button {
    display: flex;
    margin-top: 5%;
    padding-left: 20%;
}

.button #signin_btn  {
    left: 0;
    padding-left: 10%;
    padding-right: 18%;
}

button {
    background-color: var(--teal);
    color: var(--darkblue);
    border-color: var(--darknavy);
    width: 220px;
    height: 60px;
    font-size: 35px;
    border-radius: 12px;
}

button:hover {
    background-color: var(--navy);
    color:  var(--teal);
}

.game-window{
    display: none;
    border: solid;
    border-color: var(--teal);
    border-radius: 12px;
    height: 60vh;
    width: 120vh;
    color: var(--teal);
    text-align: center;
    font-size: x-large;
    margin-left: 45vh;
}

