.main-content {
  display: flex;
}

.login_container {
  width: 50%;
}

.side_picture-container {
  background-color: #674a85;
  width: 50%;
  height: 50%;

}

.login_container_header {
  text-align: center; 
  padding-top: 5%;
  padding-left: 15px;
  padding-right: 15px;
}

.login_form {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.login_form .username {
  margin-top: 5px;
  width: 50%;
  margin-left: 25%;
}

.login_form .password {
  margin-top: 25px;
  width: 50%;
  margin-left: 25%;
}

.login_btn {
  text-align: center;
}

.login_footer {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.side_picture {
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 15%;
  width: 50%;
  height: 50%;
}


