.login {
  position: relative;
  width: auto;
}

.login_container {
  position: relative;
  background-color: #674a85;
  left: 0px;
  width: 50%;
  display: inline-block;

}

.login_container_header {
  position: relative;
  text-align: center; 
  padding-top: 5%;
  padding-left: 15px;
  padding-right: 15px;
}

.login_form {
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.login_form .username {
  margin-top: 5px;
  width: 50%;
  margin-left: 25%;
}

.login_form .password {
  margin-top: 25px;
  width: 50%;
  margin-left: 25%;
}

.login_btn {
  text-align: center;
}

.login_footer {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.login_side_picture {
  display: inline-block;
  position: absolute;
  background-color: #674a85;
  width: 50%;
  height: auto;
  padding-left: 10%;
  right: 0;
}

