/* Main Content Container */
.main-content {
  display: flex;
}

/* Login CSS */
.login_container {
  width: 50%;
  background-color: var(--darkblu);
}

.login_container_header {
  text-align: center; 
  padding-top: 5%;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--teal);
}

.login_form {
  border-color: var(--teal);
  background-color: var(--navy);
  color: var(--teal);
  margin-top: 7%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 7%;
  border: solid;
  padding-top: 2%;
  padding-bottom: 5%;
  border-radius: 12px;
  font-size: large;
}

input {
  width: 250px;
  height: 40px;
}

select {
  width: 210px;
  height: 30px;
}

select:hover, input:hover {
  background-color: var(--darknavy);
}

.login_form .username {
  margin-top: 5px;
  width: 50%;
  margin-left: 25%;
}

.login_form .password {
  margin-top: 25px;
  width: 50%;
  margin-left: 25%;
}

.login_btn {
  text-align: center;
}

.login_footer {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  
}

.login_footer a {
  color: var(--teal);
}

/* Side Picture CSS */
.side_picture-container {
  background-color: var(--darkblue);
  width: 50%;
  height: 50%;

}

.side_picture {
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 15%;
  width: 75%;
  height: 50%;
}
