.howtoplay_header {
    padding-top: 2%;
    text-align: center;
}

.howtoplay-arrow, .howtoplay-wasd {
    display: flex;
}

.arrow_picture, .wasd_picture{
    margin-left: 25%;
}

.arrow_information, .wasd_information {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    border: solid;
    border-color: black;
}

.details{
    padding-left: 2%;
}